<h1> This is my ABOUT ME PAGE! </h1>

<%= link_to image_tag('steve.jpg'), 'www.webgo2.com' %>

<%= link_to 'GO BACK TO HOME PAGE', root_path %>

<h2> THIS IS THE CAR I REALLY LIKE: </h2>

<%= link_to image_tag('94-98-cobra.jpg'), 'www.webgo2.com' %>